/* Underline styles */
a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Fade in */
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
  }
  
  /* Slide in */
   a {
    overflow: hidden;
  }
  
 a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  
 a:hover::after,
 a:focus::after{
    transform: translate3d(0, 0, 0);
  }
  
