<div class="flex flex-col bg-white h-full min-w-96 mx-auto">
    <!--Header-->
    <div class="flex flex-row justify-between items-center p-2 px-3">
        <div class="text-2xl font-semibold">ARchat</div>
        <!-- <button class="border-2 border-black font-medium px-2 p-1 rounded text-nowrap hover:bg-gray-200" (click)="refreshList.emit()">Refresh List</button> -->
    </div>
    <div class="w-full" style="border: 1px solid #969696;"></div>
    <!-- Body -->
    @if(chatState$ | async; as chatState)
    {
        @if(chatState.state == 'OPENED')
        {   
            <div class="max-w-lg mx-auto">
                <div class="flex flex-row justify-center text-lg font-medium">Login to see list of available peers</div>
                <div class="flex flex-row justify-between items-center gap-5 p-3 ">
                    <div class="inline-flex gap-2">
                        <input #nickname class="rounded border-2 border-black w-full px-2 py-1 " placeholder="Nickname..."/>
                        <input #password class="rounded border-2 border-black w-full px-2 py-1 " placeholder="Password..."/>
                    </div>
                    
                    <button class="border-2 border-black font-medium px-2 p-1 rounded text-nowrap hover:bg-gray-200"
                    (click)="login.emit({nickname:nickname.value,password: password.value})">Log In</button>
                </div>
            </div>
        }
        @else if (chatState.state == 'AUTH') 
        {
            <div class="flex flex-col justify-center items-center">
                @for (peer of peers; track $index) {
                    <app-message-cell (connect)="connect.emit($event)" [notification]="peer"></app-message-cell>
                }
                @empty {
                    <div class="font-medium">There is no available peers</div>
                }
            </div>
        }
        @else 
        {
            <div class="flex flex-col items-center justify-center p-4">
                <div class="mx-auto text-red-500 font-medium text-lg">Something went wrong</div>
                <button class="border-2 border-black font-medium px-2 p-1 rounded text-nowrap hover:bg-gray-200" (click)="reconnect.emit()">Reconnect</button>
            </div>
        }
    }
</div>